html {
    font-family: Helvetica, sans-serif;
    color: rgb(229,208,239);
    background-color: rgb(46,67,114);
}

body {
    position: relative;
    top: 2vw;
    left: 2vw;
}

h3 {
    background-color: rgb(27, 41, 74);
    padding: 8px;
}

form {
    color: inherit;
}

footer {
    font-size: 0.8em;
    margin-top: 50px;
    position: relative;
    bottom: 2vh;
}

#log {
    background-color: rgb(45, 45, 45);
    color: rgb(233, 233, 233);
    font-family: Consolas, monospace;
    padding: 10px;
}

.log-caption {
    font-size: 0.9em;
}

button { 
    padding: 5px 15px; 
    background-color: rgb(45, 45, 45);
    color: rgb(229,208,239);
    border: 2px solid; 
    border-radius: 5px;
    transition: 200ms;
}

a:hover,
button:hover {
    background-color: rgb(229,208,239);
    color: rgb(45, 45, 45);
    border: 2px solid rgb(229,208,239);
    transition: 200ms;
}

a {
    color: rgb(229,208,239);
    text-decoration: none;
    border: 1px solid rgb(229,208,239);
    padding: 2px 10px;
    transition: 200ms;
}


