/* FONT-FAMILY
===============*/
@font-face {
    font-family: "Unbounded";
    src: url("font/Unbounded-VariableFont_wght.ttf");
    font-weight: 200 900;
}

body {
    height: 100vh;
    width: 100vw; 
    background-color: #695940;
    font-family: 'Unbounded', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, sans-serif;
    color:rgb(196,238,99);
    text-align: center;
}

.selection-icon {
    width: 50px;
    height: auto;
    filter: invert(98%) sepia(81%) saturate(960%) hue-rotate(19deg) brightness(100%) contrast(87%);
    padding: 20px;
    border-radius: 40%;
    margin-bottom: 20px;
}

.user {
    background-color: #e9ca99;
    transition: 200ms ease-in-out;
}

.user:hover {
    transform: scale(1.1);
    background-color: #9e9686;
    transition: 200ms ease-in-out;
}

.user:active {
    transform: scale(0.8);
    background-color: #575249;
    transition: 300ms ease-in-out;
}

.com {
    background-color: #fff0d7;
}

.result {
    display: inline-flex; 
    width: 300px;
    align-items: center;
    padding: 0 30%;
    color: #fecc8c;
}

.marks,
.choice-log {
    font-weight: 300;
}

.choices {
    width: 500px; 
    color: #fecc8c;
    margin: 10px auto;
}

.log-count {
    width: 15%; 
}

.log-com,
.log-user,
.log-res {
    width: 50%;
    font-weight: 400;
}

.copyright {
    font-size: 0.8em;
    left: 10px;
    bottom: 0;
    padding-bottom: 20px;
}

#result-row {
    font-weight: 100;
}

#confetti-container {
    user-select: none;
    z-index: 1000;
    visibility:hidden;
  }
  .confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .confetti .square {
    width: 1rem;
    height: 1rem;
    background-color: var(--bg);
    transform: rotate(-140deg);
  }
  
  .confetti .rectangle {
    width: 1rem;
    height: 0.5rem;
    background-color: var(--bg);
  }
  
  .confetti .hexagram {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid var(--bg);
    position: relative;
  }
  
  .confetti .hexagram:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid var(--bg);
    position: absolute;
    top: 0.33rem;
    left: -0.5rem;
  }
  
  .confetti .pentagram {
    width: 0rem;
    height: 0rem;
    display: block;
    margin: 0.5rem 0;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(35deg);
    position: relative;
  }
  .confetti .pentagram:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 0.8rem solid var(--bg);
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    transform: rotate(-35deg);
    position: absolute;
    top: -0.45rem;
    left: -0.65rem;
  }
  .confetti .pentagram:after {
    content: "";
    width: 0rem;
    height: 0rem;
    display: block;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(-70deg);
    position: absolute;
    top: 0.03rem;
    left: -1.05rem;
  }
  
  .confetti .dodecagram {
    background: var(--bg);
    width: 0.8rem;
    height: 0.8rem;
    position: relative;
  }
  
  .confetti .dodecagram:before {
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    background: var(--bg);
    transform: rotate(30deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  .confetti .dodecagram:after {
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    background: var(--bg);
    transform: rotate(60deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .confetti .wavy-line {
    position: relative;
  }
  .confetti .wavy-line::after,
  .confetti .wavy-line::before {
    content: "";
    height: 1rem;
    width: 8rem;
    background-size: 2rem 1rem;
    position: absolute;
    left: -9rem;
    transform: rotate(90deg);
  }
  
  .confetti .wavy-line::before {
    background-image: linear-gradient(
      45deg,
      transparent,
      transparent 50%,
      var(--bg) 50%,
      transparent 60%
    );
    top: 1rem;
  }
  .confetti .wavy-line::after {
    background-image: linear-gradient(
      -45deg,
      transparent,
      transparent 50%,
      var(--bg) 50%,
      transparent 60%
    );
  }
  
  .confetti i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.2rem;
    animation-name: confetti;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: calc(70s / var(--speed));
  }
  
  .confetti i:nth-child(even) {
    transform: rotate(90deg);
  }
  
  @keyframes confetti {
    0% {
      transform: translateY(-100vh);
    }
  
    100% {
      transform: translateY(100vh);
    }
  }