@import "font-face.css";
/* Selecting the font */
* {
    font-family: "Roboto", Helvetica, sans-serif;
}

/* Allowing different content to display 
background colour with no spaces */
body {
    display: grid;
    gap: 0px;
    margin: 0px;
    padding: 0px;
}

/* Background and font colour 
for header and section 1 */
.header,
.section-one, 
a {
    background-color: #1F2937;
    color: #F9FAF8;
    text-decoration: none;
}

a:visited {
    color: #F9FAF8;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    flex-grow: 3;
    margin-left: 15%;
    margin-right: 10%;
}

.header #nav {
    margin-right: 1.5em;
    font-size: 16px;
    font-weight: 300;
}

#nav-three {
    margin-right: 15%;
    font-size: 16px;
    font-weight: 300;
}

#nav {
    color: #E5E7EB;
}

/* Section 1 (img and signup) */
.section-one {
    display: flex; 
    flex-wrap: nowrap;
    padding: 4rem 15% 8rem 15%;
    height: 57%;
    align-items: center;
}

.section-one h1 {
    font-size: 48px;
    line-height: 1.1;
}

.section-one-wrap {
    width: 50%;
    height: 110%;
}

.h1-desc {
    color:#E5E7EB;
    font-size: 18px;
    font-weight: 300;
    margin-top: -30px;
    line-height: 1.2;
}

.sign-up-btn {
    background-color: #3882F6;
    color: white;
    border: 0px;
    font-size: 18px;
    font-weight: 500;
    padding: 0.4em 1.5em 0.4em 1.5em;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.image {
    text-align: center;
    background-color: #6F747D;
    width: 50%;
    height: 50%;
    margin: 0 0 0 7%;
    padding: 6em 0 0 0;
}

/* Section 2 Random Info */
.section-two h2 {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.blank-img {
    border: 4px solid #3882F6;
    height: 10em;
    width: 10em;
    border-radius: 15px;
}

.section-two .img,
.section-two .desc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2em 20% -15px 20%;
    gap: 5px 2.7em; 
    justify-content: center;
}

.section-two .desc-text {
    width: 10em; 
    font-size: 1em;
    margin: -10px 3px 9.3em 3px;;
    text-align: center;
    color:#6F747D
} 

/* Section 3 (Quote) */
.section-three {
    background-color: #E5E7EB;
}

#section-three-inner {
    font-size: 36px; 
    font-style: italic;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 8rem 15% 7.5rem 22%;
    width: 60%; 
}

#section-three-inner .author {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: right;
    align-items:flex-end;
    padding: 0px 2em;
    width: 95%; 
    margin-bottom: -0.6rem;
}

/* Section 4 CTA */
.section-four {
    background-color:#3882F6;
    color: white;
    margin: 6rem 10% 6rem 15%;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

#cta-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    width: 78%;
}

#cta {
    font-size: 22px;
    width: 100%;
    font-weight: 500;
}

#cta-caption {
    font-size: 16px; 
    color: #E5E7EB;
    margin-top: 4px;
}

#cta-signup {
    background-color: inherit;
    color: inherit;
    border: 0.1em solid white;
    border-radius: 5px;
    padding: 4px 25px 4px 25px;
    margin-right: -1em;
    font-size: 18px;
    font-weight: 400;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 2.5em;
}
