/* Setting Up
======================*/
@import url(fonts.css);

html {
    font-family: "ClashDisplay", sans-serif;
    background-color: #0d1015;
}


.content-wrap {
    margin: 0; 
    overflow: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.content-wrap .item {
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    height: 100vh;
    scroll-snap-align: start;
    transition: height 0.2s ease-in-out;
}

/* Colours 
======================*/
#colours {
    color: #0d1015;
    color: #f8b031;
}

/* Header
======================*/

.header {
    color:#f8b031;
    position: relative;
    margin: 20px;
    padding: 60vh 35px 35px 35px;
}

.header .name {
    font-size: 1em;
    display: flex;
    flex-wrap: nowrap;
    line-height: 0.85em;
    margin: 0;
}

.header .title {
    align-items: flex-end;
    margin: 0;
    font-size: 1em;
    line-height: 0.6em;
}


#animation {
    opacity: 0.5;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
}

#greeting {
    font-size: 2rem;
    margin-top: -0.2em;
}

#name {
    font-size: 3rem;
    margin: -0.5em 0;
}

#nameImputPrompt {
    font-size: 1em;
}

.intro {
    font-size: 2.2em;
    margin-top: -0.6em;
    margin-bottom: -0.1em;
}

.job:hover {
    cursor: pointer;
}

.job,
a {
    position: relative;
    color: #f8b031;
    transition: 200ms ease-in-out;
}

#job-title-beg {
    font-size: 2em;
    margin: 25px 0 0 5px;
}

#job-title {
    font-size: 2em;
    margin: 25px 0 0 5px;
}

#blank-wrap {
    width: 85px; 
    grid-row-start: 1;
}

.cta {
    position: relative;
    left: 14vw;
    margin: 2em 0 -1.6em 0 ;
}

.job::before,
a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
    background: #f8b031;
    color: #f8b031;
    content: " ";
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    background: #f8b031;
    z-index: -1;
    transition: transform .3s ease;
  }
  
.job:hover::before,
a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    }

.job:hover,
a:hover {
    color: #0d1015;
}

.switch-div {
    margin-top: 20px;
}
  
/* About
======================*/

h3 {
    font-size: 25px;
    font-weight: 800;
}

.portrait {
    height: 200px;
    border-radius: 40px;
}

.about-bio {
    color:#f8b031;
    position: relative;
    margin: 20px;
    padding: 35px;
}

.about-bio p {
    font-size: 1.2em;
    max-width: 50vw;
    margin-top: -20px;
}

.skills, 
.languages {
    color:#f8b031;
    position: relative;
    padding: 35px;
}

.skills {
    margin: 20px;
}

.languages {
    margin: -60px 20px 0 20px;
}

#skills,
#lang-level,
#contact-links {
    font-weight: 200;
    margin-left: 15px; 
    line-height: 1.2;
    display: inline;
    position: absolute;
    left: 20vw;
}

/* Works
======================*/
.works {
    color:rgb(248, 176, 49);
    position: relative;
    margin: 20px;
    padding: 35px;
}

/* Copyright (c) 2023 by Hyperplexed (https://codepen.io/Hyperplexed/pen/zYWvXMM)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
:root {
    --g1: rgb(248, 176, 49);
    --g2: rgb(247, 214, 159);
}
  
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -300% center;
    }
}

.works {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        var(--g1),
        var(--g2),
        var(--g1)
    );
    background-size: 200%;
    height: 91vh;
    width: 93.5vw;
    overflow: hidden;
    margin: 0px;
}

#tiles {
    margin: -34px;
    height: calc(100vh);
    width: calc(98.5vw);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    cursor: pointer;
    position: relative;
}

.tile:hover:before {
    background-color: rgb(30, 30, 30);
}

.tile:before {
    background-color: #0d1015;
    content: "";
    inset: 0.5px;
    position: absolute;
}

.works {
    color: #0d1015;
}

#work-title {
    margin: 0px;
    pointer-events: none;
    width: 50vw;
    z-index: 3;
    position: absolute;
    top: 30px;
    opacity: 0;
    transition: 600ms ease-in;
  }

.works-list {
    position: absolute;
    top: 70px;
    z-index: 0;
    opacity: 0;
    transition: 800ms ease-in;
}

body.toggled #work-title {
    opacity: 1;
}

body.toggled .works-list {
    opacity: 1;
    z-index: 5;
}

.works-list a {
    color:#0d1015;
}

/* Contact
======================*/

.contact {
    color:#f8b031;
    position: relative;
    padding: 35px;
    margin: 20px;
}

a {
    font-weight: 400;
    text-decoration-line: overline;
}