/* Setting Up
======================*/
@import url(fonts.css);

html {
    font-family: "ClashDisplay", sans-serif;
    background-color: #0d1015;
}

* {
    box-sizing: border-box;
}

/* Wraps contents with no margin on screen. */
.content-wrap {
    margin: 0; 
    overflow: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.content-wrap .item {
    scroll-snap-type: x mandatory;
    height: 100vh;
    scroll-snap-align: start;
    transition: height 0.2s ease-in-out;
}

/* Header
======================*/
.header {
    color:#f8b031;
    position: relative;
    margin: 20px;
    padding: 60vh 35px 35px 35px;
}

#greeting {
    font-size: 24px;
    line-height: 0.5em;
    max-height: 58px;
}

.header #name {
    font-size: 52px;
    display: flex;
    flex-wrap: nowrap;
    line-height: 0.85em;
    margin: 0;
}

.cta {
    position: relative;
    left: 120px;
    margin: 1em 0 -3vh 0;
    font-size: 16px;
}

.job:hover {
    cursor: pointer;
}

.job,
a {
    color: #f8b031;
    border-bottom: 1.5px solid #f8b031;
    transition: 200ms cubic-bezier(.29,.57,.94,.61);
    text-decoration-line: none;
}

.job:hover,
a:hover {
    border-bottom:none;
    padding-bottom: 2px;
    background-position:0 100%;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='orange' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
    transition: 200ms cubic-bezier(.29,.57,.94,.61);
}

#job-title {
    font-size: 34px;
    margin: 25px 0 0 5px;
}

.play-caption {
    margin-left: 1vw;
    font-size: 14px;
}

/* NOTE: Switch-div is on button.css. */ 
  
/* About
======================*/
.about-bio {
    color:#f8b031;
    position: relative;
    margin: 20px;
    padding: 35px;
    width: 50vw;
}

.image-and-desk {
    display: flex;
    width: 85vw;
    justify-content: space-between;
}

#container {
    position: relative;
    margin: -60px 55px;
}

#container spline-viewer {
    min-width: 50vw;
    max-width: 700px;
}

.Hotspot {
    background: rgb(255, 255, 255);
    border-radius: 32px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    padding: 4px;
    position: relative;
    transition: opacity 0.3s ease 0s;
    width: 24px;
}

.HotspotAnnotation {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, "Helvetica Neue", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    left: calc(100% + 1em);
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
}

modal-viewer button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #0d1015;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: white;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

.portrait {
    height: 120px;
    border-radius: 40px;
}

.about-bio p {
    display: grid;
    font-size: 1em;
    width: 60vw;
    min-width: 400px;
    max-width: 50vw;
    margin-top: -20px;
}

.skills, 
.languages {
    color:#f8b031;
    position: relative;
    padding: 35px;
}

.skills {
    margin: 20px;
}

.languages {
    margin: -60px 20px 0 20px;
}

#skills,
#lang-level,
#contact-links {
    font-weight: 200;
    margin-left: 15px; 
    line-height: 1.2;
    display: inline;
    position: absolute;
    left: 180px;
}

/* Works
======================*/
.works {
    color:rgb(248, 176, 49);
    position: relative;
    margin: 20px;
    padding: 35px;
}

.works a {
    color: #0d1015;
    background-image: none;
    border-bottom: 1.5px solid #0d1015;
    transition: 200ms ease;
    text-decoration-line: none;
}

.works a:hover {
    font-weight: 600;
    border-bottom: none;
    transition: 200ms ease;
}

/* Copyright (c) 2023 by Hyperplexed (https://codepen.io/Hyperplexed/pen/zYWvXMM)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
:root {
    --g1: #f8b031;
    --g2: rgba(227, 97, 90, 0.992);
}
  
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.works {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        var(--g1),
        var(--g2),
        var(--g1)
    );
    background-size: 200%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0px;
}

#tiles {
    margin: -36px;
    height: calc(101vh);
    width: calc(99vw);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    cursor: pointer;
    position: relative;
}

.tile:hover:before {
    background-color: rgb(30, 30, 30);
}

.tile:before {
    background-color: #0d1015;
    content: "";
    inset: 0.5px;
    position: absolute;
}

.works {
    color: #0d1015;
}

#work-title {
    margin: 0px;
    pointer-events: none;
    width: 50vw;
    z-index: 3;
    position: absolute;
    top: 30px;
    opacity: 0;
    transition: 400ms ease-in;
  }

.works-list {
    position: absolute;
    top: 70px;
    z-index: 0;
    opacity: 0;
    transition: 600ms ease-in;
    width: 70vw;
    max-width: 400px;
}

body.toggled #work-title {
    opacity: 1;
}

body.toggled .works-list {
    opacity: 1;
    z-index: 5;
}
/* End of code by Hyperplexed. */

.works-list a {
    color:#0d1015;
}

.works-caption {
    margin: -15px 0 2px 0;
    font-style: italic;
    font-size: 0.8em;
}

/* Contact
======================*/
.contact {
    color:#f8b031;
    position: relative;
    padding: 35px;
    margin: 20px;
}
