/* Setting Up
======================*/
@import url(fonts.css);

html {
    font-family: "ClashDisplay", sans-serif;
    background-color: #0d1015;
}


.content-wrap {
    margin: 0; 
    overflow: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.content-wrap .item {
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    height: 100vh;
    scroll-snap-align: start;
}

/* Colours 
======================*/
#colours {
    color: #0d1015;
    color: #f8b031;
}

/* Header on 
======================*/

.header {
    color:#f8b031;
    position: relative;
    margin: 20px;
    padding: 60vh 35px 35px 35px;
}

.header .name {
    font-size: 1em;
    display: flex;
    flex-wrap: nowrap;
    line-height: 0.85em;
    margin: 0;
}

.header .title {
    align-items: flex-end;
    margin: 0;
    font-size: 1em;
    line-height: 0.6em;
}


#animation {
    opacity: 0.5;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
}

/* Navigation 
======================*/

.nav {
    max-width: 100%;
    margin: 20px;
}

.nav ul {
    list-style-type: none;
    color:#f8b031;
    display: flex;
    min-width: 20vw; 
    justify-content: left;
    padding: 0.3em;
}

.nav li {
    margin: 0px 2em;
}

#nav-name {
    max-width: 10px;
    margin-right: 5em;
    transition: 800ms ease-in-out; 
}

/* Content 
*/
.content {
    color:#f8b031;
    font-size: 5rem;
    position: absolute;
    left: 0.3em;
}

#greeting {
    font-size: 2rem;
    margin-top: -0.2em;
}

#name {
    font-size: 3rem;
    margin: -0.5em 0;
}

#nameImputPrompt {
    font-size: 1em;
}

.intro {
    font-size: 2.2em;
    margin-top: -0.6em;
    margin-bottom: -0.1em;
}

.job:hover {
    cursor: pointer;
}

.job,
a {
    position: relative;
    color: #f8b031;
    transition: 200ms ease-in-out;
}

#job-title-beg {
    font-size: 2em;
    margin: 25px 0 0 5px;
}

#job-title {
    font-size: 2em;
    margin: 25px 0 0 5px;
}

#blank-wrap {
    width: 85px; 
    grid-row-start: 1;
}

.cta {
    position: relative;
    left: 14vw;
    margin: 2em 0 -1.6em 0 ;
}

.job::before,
a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
    background: #f8b031;
    color: #f8b031;
    content: " ";
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    background: #f8b031;
    z-index: -1;
    transition: transform .3s ease;
  }
  
.job:hover::before,
a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    }

.job:hover,
a:hover {
    color: #0d1015;
}

.switch-div {
    margin-top: 20px;
}
  
/* About
======================*/

.about-title {
    font-size: 25px;
    font-weight: 800;
}

.portrait {
    height: 200px;
    border-radius: 40px;
}

.about-bio {
    color:#f8b031;
    position: relative;
    margin: 20px;
    padding: 35px;
}

.about-bio p {
    font-size: 1.2em;
    max-width: 50vw;
    margin-top: -20px;
}

.skills, 
.languages {
    color:#f8b031;
    position: relative;
    padding: 35px;
}

.skills {
    margin: 20px;
}

.languages {
    margin: -60px 20px 0 20px;
}

.subtitle {
    font-weight: 500;
}

#skills,
#lang-level,
#contact-links {
    font-weight: 200;
    margin-left: 15px; 
    line-height: 1.2;
    display: inline;
    position: absolute;
    left: 20vw;
}

/* Contact
======================*/

.contact {
    color:#f8b031;
    position: relative;
    padding: 35px;
    margin: 20px;
}

a {
    font-weight: 400;
    text-decoration-line: overline;
}